<div>
  <%= Company.human_attribute_name("name")%>: <b><%= current_user.company.name %></b>
</div>
<div>
  <%= Company.human_attribute_name("subdomain") %>: <b><%= current_user.company.subdomain %></b>
</div>